@import "../abstracts/variables";
@import "../abstracts/functions";


@font-face {
  font-family: 'Trajans';
  src: url('../fonts/Trajans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family;
}


h1, 
h2, 
h3 {
  margin-top: 0;
  margin-bottom: $spacing-unit;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

}

h1 {
  font-family: $font-title;
  font-size: heading-size(1);
  font-weight: bold;
  color: $color-primary;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  
}


h2 {
  font-size: heading-size(2);
  font-weight: bold;
  color: $color-secondary;
}


@media (min-width: 768px) {
  h1 {
    font-size: heading-size(1) * 1.5; // Aumentar el tamaño de fuente para H1 en dispositivos más grandes
  }

  h2 {
    font-size: heading-size(2) * 1.5; // Aumentar el tamaño de fuente para H2 en dispositivos más grandes
  }
}

@media (min-width: 998px) {
  h1 {
    font-size: heading-size(1) * 2; // Aumentar el tamaño de fuente para H1 en dispositivos más grandes
  }

  h2 {
    font-size: heading-size(2) * 2; // Aumentar el tamaño de fuente para H2 en dispositivos más grandes
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
