

body {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: $font-family;
  background-color: $color-background;
  color: $color-primary;
  
}



  h1,
  h2 {
    text-align: center;
  }



  .header__nav {
    display: flex; 
    justify-content: space-evenly; 
    background-color: $color-primary; 
    padding: 1rem; 
  }
  
  .nav__list {
    display: flex; 
    flex-direction: column;
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .nav__item {
    margin: 0 0.5rem; 
  }
  
  .nav__link {
    color: $color-accent;
    text-decoration: none; 
    padding: 0.5rem; 
  
    &:hover {
      color: $color-background;
    }
  }
  
  @media (min-width: 768px) {
    .header__nav .nav__list {
      flex-direction: row; 
      align-items: center; 
    }
  }


.footer {
  margin-bottom: 2rem;
}
